<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>uni0259</key>
    <string>uni0259.glif</string>
  </dict>
</plist>
