<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>Rogers_Bold_11.ufo</string>
      <string>glyphs.R_ogers_B_old_11.ufo</string>
    </array>
    <array>
      <string>GingeReg.ufo</string>
      <string>glyphs.G_ingeR_eg.ufo</string>
    </array>
    <array>
      <string>Rogers_Bold_10.ufo</string>
      <string>glyphs.R_ogers_B_old_10.ufo</string>
    </array>
  </array>
</plist>
